<div class="result" style="border-bottom: 1px solid #000" data-id="<%= result.id %>">
  <div>
    <p>
      <b>File: </b>
      <%= link_to result.filename, "https://storage.googleapis.com/haymakerforever/uploads/#{result.filename}", class: 'file' %>
      <a href="#" class="player play">Play</a>
      <a href="#" class="player pause">Pause</a>
      <span class="icon"></span>
    </p>
    <p><b>Tags: </b><%= result.tags %></p>
    <p><b>Fulltext: </b><%= result.transcript %> <%= link_to 'Edit', edit_speach_path(result) %></p>
  </div>
</div>
