<div class="search">
  <%= form_tag(search_path, method: :get, remote: true) do %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q) %>
    <%= label_tag(:speaker, 'Speaker:') %>
    <%= select_tag :speaker, options_for_select(Speaker::NAMES) %>
    <%= submit_tag 'Search' %>
  <% end %>
</div>

<div class="results">

</div>
