<h3>New upload</h3>

<div class="new-upload">
  <%= form_tag(uploads_path, method: :post, multipart: true) do %>
    <%= label_tag :sound, 'Your sound' %>
    <span class="hint">FLAC, mono, 44.1kHz</span>
    <%= file_field_tag :sound %>
    <%= label_tag :speaker, 'Who is speaking?' %>
    <%= select_tag :speaker, options_for_select(Speaker::NAMES) %>
    <%= label_tag :tags, 'Tags' %>
    <%= text_field_tag :tags, nil, placeholder: 'Space separated' %>
    <%= submit_tag 'Upload' %>
  <% end %>
</div>

<div>
  <%= render 'shared/tags' %>
</div>
