<!DOCTYPE html>
<html>
<head>
  <title>Transcriber</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="head">
    <%= link_to "Search", root_path %> | <%= link_to "Upload", new_upload_path %>
  </div>

  <% if flash.key?(:notice) %>
    <div class="notice" style="border-color: 1px solid green">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="content">
      <%= yield %>
  </div>
</body>
</html>
